:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    font-family: "Outfit", system-ui;
    font-size: 18px;
}

main {
    display: grid;
    place-items: center;
    background-color: var(--Very-dark-blue-main-BG);
}

.card {
    background-color: var(--Very-dark-blue-card-BG);
    margin: 3.444rem 1.333rem;
    padding: 1.333rem;
}

.card__picture {
    margin-bottom: 1.333rem;
}

.card__headline {
    font-size: 1.222rem;
    font-weight: 600;
    margin-bottom: 0.667rem;/* 12px */
}


.card__description {
    color: var(--Soft-blue);
    line-height: 1.444rem;
    font-weight: 300;
    margin-bottom: 0.889rem; /* 16px */
}

.card__details {
    display: flex;
    justify-content: space-between;
}

.card__details>* {
    display: flex;
    align-items: center;
    margin-bottom: 0.889rem;
}

object {
    margin-right: 0.428rem;
}

.card__price {
    color: var(--Cyan);
    font-weight: 600;
    font-size: 0.833rem;
}

.card__time {
    color: var(--Soft-blue);
    font-weight: 400;
    font-size: 0.833rem;
}

.card__separator {
    border: none;
    border-bottom: 1px solid var(--Very-dark-blue-line);
    margin-bottom: 0.833rem;
}

.author {
    display: flex;
    align-items: center;
}

.author__photo {
    border: 1px solid var(--White);
    border-radius: 50%;
    width: 1.833rem;
    margin-right: 0.833rem;
}

.author__title {
    color: var(--Soft-blue);
    font-weight: 400;
    font-size: 0.833rem;
}

a {
    color: var(--White);
    text-decoration: none;
}

a:hover {
    color: var(--Cyan);
}