:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    font-family: "Outfit", system-ui;
    font-size: 18px;
}

main {
    display: grid;
    place-items: center;
    background-color: var(--Very-dark-blue-main-BG);
}

.card {
    background-color: var(--Very-dark-blue-card-BG);
    margin: 3.444rem 1.333rem;
    padding: 1.333rem;
}

.card__picture {
    margin-bottom: 1.333rem;
}